.ping-footer-socials {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ping-footer-socials-btn {
    border: 1px solid var(--pale-blue);
    background-color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
}

.ping-footer-socials-btn:hover {
    cursor: pointer;
    background-color: var(--blue);
    border-color: var(--blue);
    color: var(--white);
}

.icon {
    color: var(--blue);
}

.icon:hover {
    color: var(--white);
}

.ping-footer-copyright {
    color: var(--gray);
}

@media only screen and (max-width: 1399px) {
    .ping-footer-socials-btn {
        margin: 0px 20px;
        border-radius: 25px;
        padding: 10px;
        width: 35px;
        height: 35px;
    }
    .icon {
        font-size: 15px;
        padding: 10px;
    }
    .ping-footer-copyright {
        font-size: 15px;
    }
}
@media only screen and (min-width: 1400px) {
    .ping-footer-socials-btn {
        margin: 0px 10px 20px 10px;
        border-radius: 25px;
        padding: 15px;
        width: 45px;
        height: 45px;
    }
    .icon {
        font-size: 18px;
        padding: 15px;
    }
    .ping-footer-copyright {
        font-size: 18px;
    }
}