.ping-footer-socials {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ping-footer-socials-btn {
    margin: 0px 20px;
    border: 1px solid var(--pale-blue);
    background-color: var(--white);
    border-radius: 25px;
    padding: 10px;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ping-footer-socials-btn:hover {
    cursor: pointer;
    background-color: var(--blue);
    border-color: var(--blue);
    color: var(--white);
}

.icon {
    color: var(--blue);
    font-size: 15px;
    padding: 10px;
}

.icon:hover {
    color: var(--white);
}

.ping-footer-copyright {
    color: var(--gray);
    font-size: 15px;
}